<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        font-family: monospace;
    }
    h2 {
        text-align: center;
        font-size: 25px;
    }
    .section-box {
            display: inline-block;
            margin: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 210px;
            width: 250px;
            border: 1px solid #ccc;
            flex:1;
            border-radius: 10px;
            box-shadow: gray 3px 3px 3px;
        }
    .section-box a {
        text-decoration: none;
    }
    .section-box ul {
        list-style-type: none;
    }
    .section-box img {
        width: 100px;
        height: 80px;
    }
    .section-box ul li {
        margin: 10px 0;
        margin-right: 5px;
        display: inline-block;
    }
    .section-box ul li a {
        margin-left: 40px;
        color: black;
        background-color: gray;
        padding: 8px 10px;
        border-radius: 20px;
    }
    .section-box ul li a:hover {
        background-color: #ccc;
    }
</style>
<body>
    <center><h1>Empyrean Icafe Pc's</h1></center>
    <div class="section-box pc-1">
        <h2>PC 1</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/1">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-2">
        <h2>PC 2</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/2">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-3">
        <h2>PC 3</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/3">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-4">
        <h2>PC 4</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/4">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-5">
        <h2>PC 5</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/5">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-6">
        <h2>PC 6</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/6">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-7">
        <h2>PC 7</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/7">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-8">
        <h2>PC 8</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/8">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-9">
        <h2>PC 9</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/9">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-10">
        <h2>PC 10</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/10">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-11">
        <h2>PC 11</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/11">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-12">
        <h2>PC 12</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/12">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-13">
        <h2>PC 13</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/13">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-14">
        <h2>PC 14</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/14">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-15">
        <h2>PC 15</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/15">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-16">
        <h2>PC 16</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/16">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-17">
        <h2>PC 17</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/17">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-18">
        <h2>PC 18</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/18">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-19">
        <h2>PC 19</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/19">View Details</a></li>
        </ul>
    </div><div class="section-box pc-20">
        <h2>PC 20</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/20">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-21">
        <h2>PC 21</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/21">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-22">
        <h2>PC 22</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/22">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-23">
        <h2>PC 23</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/23">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-24">
        <h2>PC 24</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/24">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-25">
        <h2>PC 25</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/25">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-26">
        <h2>PC 26</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/26">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-27">
        <h2>PC 27</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/27">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-28">
        <h2>PC 28</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/28">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-29">
        <h2>PC 29</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/29">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-30">
        <h2>PC 30</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/30">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-31">
        <h2>PC 31</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/31">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-32">
        <h2>PC 32</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/32">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-33">
        <h2>PC 33</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/33">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-34">
        <h2>PC 34</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/34">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-35">
        <h2>PC 35</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/35">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-36">
        <h2>PC 36</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/36">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-37">
        <h2>PC 37</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/37">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-38">
        <h2>PC 38</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/38">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-39">
        <h2>PC 39</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/39">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-40">
        <h2>PC 40</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/40">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-41">
        <h2>PC 41</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/41">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-42">
        <h2>PC 42</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/42">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-43">
        <h2>PC 43</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/43">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-44">
        <h2>PC 44</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/44">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-45">
        <h2>PC 45</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/45">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-46">
        <h2>PC 46</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/46">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-47">
        <h2>PC 47</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/47">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-48">
        <h2>PC 48</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/48">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-49">
        <h2>PC 49</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/49">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-50">
        <h2>PC 50</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/50">View Details</a></li>
        </ul>
    </div>
    <div class="section-box pc-51">
        <h2>PC 51</h2>
        <center>
            <img src="/static/images/computer.jpg" alt="">
        </center>
        <ul>
            <li><a href="/view_pc/51">View Details</a></li>
        </ul>
    </div>
</body>
</html>