<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Start End</th>
                <th>Details</th>
                <th>Past_problem</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.time_start}}</td>
                <td>{{data.time_end}}</td>
                <td>{{data.details}}</td>
                <td>{{data.past_problem}}</td>
                <td>{{data.status}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>